.card {
    display: flex;
    column-gap: 16px;
    border-radius: 16px;
}

.memeImage {
    height: 95px;
    width: 150px;
    border-radius: 10px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.place {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    bottom: 6px;
    left: 6px;
    border-radius: 15px;
    height: 22px;
    padding: 0 12px;
    backdrop-filter: blur(10px);
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
}

.memeInfoContainer {
    overflow: hidden;
}

.memeTitle {
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.memeDescription {
    font-size: 14px;
    color: var(--vkui--color_text_secondary);
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
}

.memeInfoCounters {
    display: flex;
    align-items: center;
    gap: 6px;
    flex-wrap: wrap;
}

.memeInfoCounters div {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    background: var(--vkui--color_background_secondary);
    border-radius: 20px;
    padding: 4px 10px;
    font-size: 14px;
}

@media screen and (max-width: 560px) {
    .memeImage {
        height: 80px;
        width: 120px;
    }

    .memeInfoCounters div {
        padding: 3px 6px;
        font-size: 12px;
    }

    .memeDescription {
        font-size: 12px;
    }

    .memeTitle {
        font-size: 14px;
    }
}