.card {
    background: var(--card-background);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    min-width: 200px;
    transition: 0.3s all ease;
    display: flex;
    flex-direction: column;
}

.cardContent {
    flex: 1;
    padding: 8px;
    display: flex;
    flex-direction: column;
}

.cardHeader {
    color: var(--vkui--color_text_primary);
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 16px;
}

.cardDescription {
    color: var(--vkui--color_text_secondary);
    font-weight: 400;
    font-size: 14px;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
}

.card:active {
    scale: 0.94;
}

.cardImage {
    height: 150px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cardInfoBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    row-gap: 8px;
}

.cardInfoBox div {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
}

.countersContainer {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.countersContainer div {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    background: var(--card-background-secondary);
    border-radius: 20px;
    padding: 4px 10px;
    font-size: 14px;
}

.mobileTitle {
    display: none;
    color: white;
    font-weight: 600;
    text-shadow:
            1px 1px 1px rgba(0, 0, 0, .30),
            2px 2px 1px rgba(0, 0, 0, .25),
            3px 3px 1px rgba(0, 0, 0, .20),
            4px 4px 1px rgba(0, 0, 0, .15);
}

.onModeration {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    font-size: 13px;
    padding: 2px 8px;
    border-radius: 20px;
    color: white;
}

.imageTextContainer {
    position: absolute;
    z-index: 1;
    bottom: 6px;
    left: 6px;
    right: 6px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: start;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (max-width: 460px) {
    .cardImage {
        height: 200px;
    }

    .cardHeader {
        display: none;
    }

    .mobileTitle {
        display: block;
    }

    .cardDescription {
        line-clamp: 3;
        -webkit-line-clamp: 3;
    }
}