.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    flex-wrap: wrap;
}

.usersList {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.buttons {
    display: flex;
    gap: 8px;
}

.topElementsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

.meWriteInputContainer {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 8px;
    padding: 16px;
    flex-wrap: wrap;
}

.progressContainer {
    width: 60px;
}

.readyUsersCount {
    background: var(--vkui--color_background_secondary);
    padding: 1px 8px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-weight: 600;
}

.partableDividerContainer {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.dividerPart {
    height: 1px;
    background: var(--vkui--color_background_secondary_alpha);
    flex: 1;
}

.partableDividerText {
    color: var(--vkui--color_text_secondary);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
}

.albumContainer {
    direction: rtl;
    padding: 0 4px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.previousContextContainer {
    padding: 0 16px;
    display: flex;
    justify-content: center;
}

.previousContextBubble {
    background: var(--vkui--color_background_secondary);
    border-radius: 14px;
    padding: 8px 16px;
    text-align: center;
    max-width: 500px;
}

@media screen and (max-width: 500px) {
    .meWriteInputContainer * {
        flex-basis: 100%;
    }
}