.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    flex-wrap: wrap;
}

.usersList {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.buttons {
    display: flex;
    gap: 8px;
}

.topElementsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.meWriteInputContainer {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 8px;
    padding: 16px;
}