.container {
    height: 100px;
    padding: 16px;
    border-radius: 14px;
    background: var(--vkui--color_background_secondary);
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    transition: 0.5s all ease;
}

.title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
}

.container:active {
    scale: 0.95;
}

.container:hover {
    background: rgba(156, 99, 255, 0.5);
}

.description {
    position: absolute;
    bottom: -100%;
    font-size: 14px;
    line-height: 14px;
    padding-top: 4px;
    font-weight: 300;
    transition: 0.3s ease all;
}

.container:hover .description {
    position: relative;
    bottom: 0;
}

.icon {
    transition: 0.3s ease all;
}

.container:hover .icon {
    opacity: 0;
    height: 0;
}