.imageContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 0 16px;
}

.image {
    height: 240px;
    width: 280px;
    object-fit: cover;
    border-radius: 16px;
    cursor: pointer;
    transition: 0.3s all ease;
}

.image:active {
    scale: 0.95;
}

.title {
    font-weight: bold;
}

.description {
    color: var(--vkui--color_text_secondary);
    font-size: 14px;
}

.placeInRating {
    background: linear-gradient(to right, #ccd050 20%, #d28930 40%, #d28930 60%, #ccd050 80%);
    background-size: 200%;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s linear infinite;
    font-weight: 300;
    font-size: 14px;
}

.mainContent {
    padding: 16px;
}

.actionsContainer {
    display: flex;
    gap: 8px;
    align-items: center;
}

.actionsContainer div:not(.verticalDivider) {
    height: 34px;
    padding: 0 16px;
    border-radius: 34px;
    display: flex;
    column-gap: 8px;
    align-items: center;
    user-select: none;
    transition: .3s all ease;
}

.isFavorites, .favoritesCheck, .favorites {
    cursor: pointer;
}

.favoritesCheck {
    background: var(--app-accent) !important;
}

.favorites {
    background: var(--card-background) !important;
}

.verticalDivider {
    width: 1px;
    border-radius: 50%;
    background: var(--card-background-secondary);
    height: 50%;
    margin: 0 4px;
}

.horizontalDivider {
    margin: 16px;
    height: 1px;
    background: var(--vkui--color_background_secondary_alpha);
    border-radius: 50%;
}

.commentListContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 32px;
}

.imageContainerContent {
    flex: 1;
}

@media screen and (max-width: 600px) {
    .imageContainerContent {
        flex-basis: 100%;
    }

    .image {
        height: 300px;
        width: 100%;
    }
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}